<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ViewAtt</display-name>
    <servlet-name>ViewAtt</servlet-name>
    <servlet-class>com.attenddance.ViewAtt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAtt</servlet-name>
    <url-pattern>/ViewAtt</url-pattern>
  </servlet-mapping>
  <display-name>AttendancePortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>viewStudentatt</display-name>
    <servlet-name>viewStudentatt</servlet-name>
    <servlet-class>com.attendance.viewStudentatt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewStudentatt</servlet-name>
    <url-pattern>/viewStudentatt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewatt</display-name>
    <servlet-name>Viewatt</servlet-name>
    <servlet-class>com.attendance.Viewatt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewatt</servlet-name>
    <url-pattern>/Viewatt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.attendance.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DAServlet</display-name>
    <servlet-name>DAServlet</servlet-name>
    <servlet-class>com.attendance.DAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAServlet</servlet-name>
    <url-pattern>/DAServlet</url-pattern>
  </servlet-mapping>
</web-app>